.border-text{
    position: relative;
    margin-top: 30px;
    height: 25px;
    border-top: 1px solid grey;
    color: black;
}

.border-text::after{
    content: "Already have an Account?";
    position: absolute;
    background-color: white;
    top: -13px;
    left: 28%;
    padding: 0 10px;
}

