@{
    ViewData["Title"] = "New account";
}

@section Styles{
    <link rel="stylesheet" href="~/css/register.css">
}

<form>
    <div class="text-center">
        <h1 class="display-4">Almost Done</h1>
        <h3>Access the email for account verification</h3>
    </div>
</form>