@model Flix.DataTransferObjects.LoginDto
@{
    ViewData["Title"] = "New account";
}

<div class="text-center">
    <h1 class="display-4">Create new account</h1>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/register.css">
}
